ul{
    list-style-type: none;
}
.input-form li{
    margin: 5px 0px;
}
.navbar-header{
    width: 180px;
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a{
    color:#f9f9f9;
}
.navbar-inverse{
    background:#46473F;
}
input[type=file]{
 display: inline !important;

}