<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--The content below is only a placeholder and can be replaced.-->

<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

<link rel="stylesheet" href="/css/basic.css">

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <h3 style="color: #fff;font-size: 20px;line-height: 50px;margin: 0;pandding: 0">CMS</h3>

        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="active"><a href="#">商品管理></a>
                </li>
                <li class="active"><a href="#">文章管理</a>
                </li>
                <li class="active"><a href="#">系统设置</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您,<%=userinfo.username%></a></li>
                <li><a href="/admin/login/loginOut">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
